<h1>Gutenberg</h1>

<table>
  <tr><div [style.display]='isVisible[0] ? "block" : "none"'><button (click)="livre(0)">{{BookContent[0]}}</button></div></tr>
  <tr> <div [style.display]='isVisible[1] ? "block" : "none"'><button  (click)="livre(1)">{{BookContent[1]}}</button></div></tr>
  <tr>
    <div [style.display]='isVisible[2] ? "block" : "none"'><button  (click)="livre(2)">{{BookContent[2]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[3] ? "block" : "none"'><button  (click)="livre(3)">{{BookContent[3]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[4] ? "block" : "none"'><button  (click)="livre(4)">{{BookContent[4]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[5] ? "block" : "none"'><button  (click)="livre(5)">{{BookContent[5]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[6] ? "block" : "none"'><button  (click)="livre(6)">{{BookContent[6]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[7] ? "block" : "none"'><button  (click)="livre(7)">{{BookContent[7]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[8] ? "block" : "none"'><button  (click)="livre(8)">{{BookContent[8]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[9] ? "block" : "none"'><button  (click)="livre(9)">{{BookContent[9]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[10] ? "block" : "none"'><button  (click)="livre(10)">{{BookContent[10]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[11] ? "block" : "none"'><button  (click)="livre(11)">{{BookContent[11]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[12] ? "block" : "none"'><button  (click)="livre(12)">{{BookContent[12]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[13] ? "block" : "none"'><button  (click)="livre(13)">{{BookContent[13]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[14] ? "block" : "none"'><button  (click)="livre(14)">{{BookContent[14]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[15] ? "block" : "none"'><button  (click)="livre(15)">{{BookContent[15]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[16] ? "block" : "none"'><button  (click)="livre(16)">{{BookContent[16]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[17] ? "block" : "none"'><button  (click)="livre(17)">{{BookContent[17]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[18] ? "block" : "none"'><button  (click)="livre(18)">{{BookContent[18]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[19] ? "block" : "none"'><button  (click)="livre(19)">{{BookContent[19]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[20] ? "block" : "none"'><button  (click)="livre(20)">{{BookContent[20]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[21] ? "block" : "none"'><button  (click)="livre(21)">{{BookContent[21]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[22] ? "block" : "none"'><button  (click)="livre(22)">{{BookContent[22]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[23] ? "block" : "none"'><button  (click)="livre(23)">{{BookContent[23]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[24] ? "block" : "none"'><button  (click)="livre(24)">{{BookContent[24]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[25] ? "block" : "none"'><button  (click)="livre(25)">{{BookContent[25]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[26] ? "block" : "none"'><button  (click)="livre(26)">{{BookContent[26]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[27] ? "block" : "none"'><button  (click)="livre(27)">{{BookContent[27]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[28] ? "block" : "none"'><button  (click)="livre(28)">{{BookContent[28]}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible[29] ? "block" : "none"'><button  (click)="livre(29)">{{BookContent[29]}}</button></div>
  </tr>
  <tr><div [style.display]="hasPagesP ? 'block' : 'none'"><button (click)="prec()">Page Precedente</button></div><div [style.display]="hasPages ? 'block' : 'none'"><button (click)="suiv()">Page Suivante</button></div></tr>

</table>
