<h1>Gutenberg</h1>

<table>
  <tr><div [style.display]='isVisible[0] ? true : false'><button class="btn btn-primary" (click)="livre(0)">{{BookContent0}}</button></div></tr>
  <tr> <div [style.display]='isVisible[1] ? true : false'><button class="btn btn-primary" (click)="livre(1)">{{BookContent1}}</button></div></tr>
  <tr>
    <div [style.display]='isVisible2 ? true : false'><button class="btn btn-primary" (click)="livre(2)">{{BookContent2}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible3 ? true : false'><button class="btn btn-primary" (click)="livre(3)">{{BookContent3}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible4 ? true : false'><button class="btn btn-primary" (click)="livre(4)">{{BookContent4}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible5 ? true : false'><button class="btn btn-primary" (click)="livre(5)">{{BookContent5}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible6 ? true : false'><button class="btn btn-primary" (click)="livre(6)">{{BookContent6}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible7 ? true : false'><button class="btn btn-primary" (click)="livre(7)">{{BookContent7}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible8 ? true : false'><button class="btn btn-primary" (click)="livre(8)">{{BookContent8}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible9 ? true : false'><button class="btn btn-primary" (click)="livre(9)">{{BookContent9}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible10 ? true : false'><button class="btn btn-primary" (click)="livre(10)">{{BookContent10}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible11 ? true : false'><button class="btn btn-primary" (click)="livre(11)">{{BookContent11}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible12 ? true : false'><button class="btn btn-primary" (click)="livre(12)">{{BookContent12}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible13 ? true : false'><button class="btn btn-primary" (click)="livre(13)">{{BookContent13}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible14 ? true : false'><button class="btn btn-primary" (click)="livre(14)">{{BookContent14}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible15 ? true : false'><button class="btn btn-primary" (click)="livre(15)">{{BookContent15}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible16 ? true : false'><button class="btn btn-primary" (click)="livre(16)">{{BookContent16}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible17 ? true : false'><button class="btn btn-primary" (click)="livre(17)">{{BookContent17}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible18 ? true : false'><button class="btn btn-primary" (click)="livre(18)">{{BookContent18}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible19 ? true : false'><button class="btn btn-primary" (click)="livre(19)">{{BookContent19}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible20 ? true : false'><button class="btn btn-primary" (click)="livre(20)">{{BookContent20}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible21 ? true : false'><button class="btn btn-primary" (click)="livre(21)">{{BookContent21}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible22 ? true : false'><button class="btn btn-primary" (click)="livre(22)">{{BookContent22}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible23 ? true : false'><button class="btn btn-primary" (click)="livre(23)">{{BookContent23}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible24 ? true : false'><button class="btn btn-primary" (click)="livre(24)">{{BookContent24}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible25 ? true : false'><button class="btn btn-primary" (click)="livre(25)">{{BookContent25}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible26 ? true : false'><button class="btn btn-primary" (click)="livre(26)">{{BookContent26}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible27 ? true : false'><button class="btn btn-primary" (click)="livre(27)">{{BookContent27}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible28 ? true : false'><button class="btn btn-primary" (click)="livre(28)">{{BookContent28}}</button></div>
  </tr>
  <tr>
    <div [style.display]='isVisible29 ? true : false'><button class="btn btn-primary" (click)="livre(29)">{{BookContent29}}</button></div>
  </tr>
</table>
